{# app/Resources/views/default/new.html.twig #}
{% extends 'persones.html.twig' %}
	

{% block body%}
{{ parent()}}
	<div id="titol">
		<h3>Llista de Persones </h3>
	</div>
	<div id="dades">
		<table>
			<tr>
				<th>Id</th>
				<th>Nif</th>
				<th>Nom</th>
				<th>Primer cognom</th>
				<th>Segon cognom</th>
				<th>Número de llicencia</th>
				<th>Tipus de llicencia</th>
			</tr>
		<div id="mostrar_contingut">
				{% for persona in persones %}
				<tr>
					<td>{{persona.id}}</td>
					<td>{{persona.nif}}</td>
					<td>{{persona.nom}}</td>
					<td>{{persona.cognom1}}</td>
					<td>{{persona.cognom2}}</td>
					<td>{{persona.numLlicencia}}</td>
					<td>{{persona.tipusLlicencia}}</td>
				</tr>
				{% endfor %}
		</div>
		</table>
	</div>
{% endblock %}

