{# app/Resources/views/default/new.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
	{{ parent()}}
<div class="content">
	<div id="titol">
		<h3>Llista Esdeveniments</h3>
	</div>
	<div id="dades">
		<table>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Ubicacio</th>
				<th>Participants</th>
				<th>Data</th>
			</tr>
			{% for esdeveniment in esdeveniments %}
				<tr>
					<td>{{esdeveniment.id}}</td>
					<td>{{esdeveniment.nom}}</td>
					<td>{{esdeveniment.ubicacio}}</td>
					<td>{{esdeveniment.max_participants}}</td>
					<td>{{esdeveniment.data.format('Y-m-d')}}</td>
				</tr>
				{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
