{# app/Resources/views/default/new.html.twig #}
{% extends 'persones.html.twig' %}
	

{% block body%}
{{ parent()}}
	<div id="titol">
		<h3>Llista de esdeveniments </h3>
	</div>
	<div id="dades">
		<table>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Ubicacio</th>
				<th>Número de participants</th>
			</tr>
		<div id="mostrar_contingut">
				{% for esdeveniment in esdeveniments %}
				<tr>
					<td>{{esdeveniment.id}}</td>
					<td>{{esdeveniment.nom}}</td>
					<td>{{esdeveniment.ubicacio}}</td>
					<td>{{esdeveniment.maxParticipants}}</td>
				</tr>
				{% endfor %}
		</div>
		</table>
	</div>
{% endblock %}

