{# app/Resources/views/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Gestor d'inscripcions de La Safanoria{% endblock %}</title>
	{% block stylesheet %}
	<link href="{{ asset('bundles/framework/css/theme.css')}}" rel="stylesheet"/>

	{% endblock %}
    </head>
    <body>
    {% block body %}
        <div id="upperbar1">
			<h3>Menú</h3>
               <ul>
					<li><a href="/crearPersona">Afegir persona</a></li>
					<li><a href="/crearEsdeveniment">Crear un esdeveniment nou</a></li>
					<li><a href="/inscripcio">Fer una inscripció</a></li>
					<li><a href="/mostrarEsdeveniments">Mostrar Esdeveniments</a></li>
					<li><a href="/mostrarPersones">Mostrar Persones</a></li>
                </ul>

        </div>
    
        <div id="content">
            {% endblock %}
        </div>
    </body>
</html>


